body{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    /* min-width: 100vh; */
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(47,79,79,1);
    /* background-color: rgba(34,34,34,1); */
}

.container{
    background-color: white;
    border-radius: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 500px;
    height: 400px;
    box-shadow: 0px 9px 9px rgba(0,0,0,.7);
    font-family: sans-serif;
    font-weight: 100;
    
}

h1{
    display: flex;
    letter-spacing: 1px;
    /* text-align: center; */
    justify-content: center;
    /* font-family: sans-serif; */
    color: rgb(37, 128, 208);
}

.displaytext{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 85px;
    margin-top: 20px;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.7);
}

.length{
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 3px;
}

.pass{
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.7);
    background-color: rgba(52, 152, 219, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    margin-left: 135px;
}

.pass:hover{
    cursor: pointer;
}

.copy{
    background-color: rgba(46, 204,113, 0.4);
    border: 1px solid rgba(0,0,0,.7);
    border-radius: 3px;
}

.copy:hover{
    cursor: pointer;
}

